*.coverage
*.egg-info/
*.pyc
*.aux
*.log
*.pdf
industry_right_out.tex
*~
*coverage/
.tox/
db.sqlite
dist/
docs/_build/
docs/build/
docs/source/_static/
docs/source/_templates/
local_settings.py
build/
